body {
  height: 100vh;
  width: 100vw;
  background-color: white;
  margin: 0rem;
  overflow: hidden;
  font-family:Arial, sans-serif;
}

#image-track > .image {
  width: 40vmin;
  height: 56vmin;
  object-fit: cover;
  object-position: center;
  transition: transform 0.3s ease-in-out;
}

#image-track {
  display: flex;
  gap: 4vmin;
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(0%, -50%);
}

#image-track > .image:hover {
  transform: scale(1.2); 
  z-index: 1; 
}

a {
    text-decoration: none;
}
a img {
  transition: transform 0.3s ease-in-out;
}

a img:hover {
  transform: scale(1.2); /* Enlarges the image when hovered */
}

#head {
  display: flex;
  justify-content: center;
}
#head_text {
  font-size: 2rem;
  font-weight: bold;
  border-radius: 2%;
  border:solid black 5px;
}

#description {
  text-align: center;
  position: absolute; 
  bottom: 10px; 
  left: 50%;
  transform: translateX(-50%);
  color: black; 
  z-index: 1; 
}

#description_text {
  font-size: 24px;
  margin: 0; /
}
