{% extends "layout.html" %}

{% block content %}
<div class="container mt-5">
    <h1 class="text-center mb-4">Face Swap</h1>
    <form method="post" enctype="multipart/form-data" class="text-center">
        <div class="form-group">
            <label for="image1" class="btn btn-secondary">Upload Image 1</label>
            <input type="file" name="image1" id="image1" class="form-control-file" required onchange="previewImage(event, 'image1')" style="display: none;">
            <img id="image1-preview" src="#" alt="Image 1 Preview" class="img-thumbnail mt-2" style="display:none; max-width: 200px; max-height: 200px;">
        </div>
        <div class="form-group">
            <label for="image2" class="btn btn-secondary">Upload Image 2</label>
            <input type="file" name="image2" id="image2" class="form-control-file" required onchange="previewImage(event, 'image2')" style="display: none;">
            <img id="image2-preview" src="#" alt="Image 2 Preview" class="img-thumbnail mt-2" style="display:none; max-width: 200px; max-height: 200px;">
        </div>
        <button type="submit" class="btn btn-primary mt-3">Swap Faces</button>
    </form>

    {% if swapped_image %}
    <div class="mt-5 text-center">
        <h2>Swapped Image:</h2>
        <img src="{{ swapped_image }}" alt="Swapped Image" class="img-fluid">
    </div>
    {% endif %}
    {% if text %}
    <div class="mt-3 text-center">
        <h2>{{ text }}</h2>
    </div>
    {% endif %}
</div>

<script>
function previewImage(event, inputId) {
    var reader = new FileReader();
    reader.onload = function(){
        var output = document.getElementById(inputId + '-preview');
        output.src = reader.result;
        output.style.display = 'block';
    };
    reader.readAsDataURL(event.target.files[0]);
}
</script>
{% endblock %}