{% extends "layout.html" %}

{% block content %}
    <h1>Finance Buy</h1>
    <form action="/finance_profile" method="post">
        <label for="textInput">Buy Stock</label>
        <input type="text" id="textInput" name="symbol" required>
        <label for="numberInput">Amount</label>
        <input type="number" id="numberInput" name="shares" required min="1">
        <button type="submit">Buy</button>
    </form>
{% if success %}
    <p>{{ success }}</p>
{% elif error %}
    <p>{{ error }}</p>
{% endif %}

{% endblock %}