{% extends "layout.html" %}
{% block content %}

<div class="row bg-dark">
    <div class="col-4 bg-light">Symbol</div>
    <div class="col-4 bg-light">Shares</div>
    <div class="col-2 bg-light">Price</div>
    <div class="col-2 bg-light">TOTAL</div>
</div>

{% for stocks in processed_stocks %}
<div class="row bg-dark">
    <div class="col-4 bg-light">{{ stocks.stock }}</div>
    <div class="col-4 bg-light">{{ stocks.shares }}</div>
    <div class="col-2 bg-light">{{ stocks.price }}</div>
    <div class="col-2 bg-light">{{ stocks.total }}</div>
</div>
{% endfor %}
<div class = "row pt-3">
    <div class = "col-8"></div>
    <div class = "col-2">CASH</div>
    <div class = "col-2">{{ user_cash }}</div>
</div>
<div class = "row pt-3">
    <div class = "col-8"></div>
    <div class = "col-2">TOTAL</div>
    <div class = "col-2">{{ total }}</div>
</div>

<div class="d-flex justify-content-between mt-4">
    <a href="/finance_buy" class="btn btn-secondary">Buy More Shares</a>
    <a href="/finance_profile" class="btn btn-secondary">Sell Your Shares</a>
</div>
{% endblock %}