{% extends "layout.html" %}
{% block content %}
<div class="container mt-5">
    <h1 class="text-center mb-4">Look Up Stock</h1>
    <form method="post" class="text-center">
        <div class="form-group">
            <label for="symbol">Stock Symbol</label>
            <input type="text" name="symbol" id="symbol" class="form-control" required>
        </div>
        <button type="submit" class="btn btn-primary mt-3">Look Up</button>
    </form>
    {% if name %}
    <div class="mt-5">
        <h2>Stock Information for {{ name }}</h2>
        <ul class="list-group">
            <li>stock price: {{price}}</li>
        </ul>
    </div>
    {% endif %}
</div>
{% endblock %}