{% extends "layout.html" %}
{% block body %}
<div id="image-track" data-mouse-down-at="0" data-prev-percentage="0">
    <a href="/pincode">
        <img class="image" src="https://imgs.search.brave.com/vsSo4XfVxFKHzdccTQjMJFV0hjLa0XbEXYbL4FNzLnA/rs:fit:500:0:0:0/g:ce/aHR0cHM6Ly90NC5m/dGNkbi5uZXQvanBn/LzA2LzEzLzQ5LzMx/LzM2MF9GXzYxMzQ5/MzE0MV9YSlpld3J3/ZklSdDg2YmRzZ3FS/WXJPUzZKSmVXaGJJ/US5qcGc" data-description="Enter address to get pincode" alt="">
    </a>
    <a class="image" href="/dog"><img src="https://images.unsplash.com/photo-1728585871416-ba6554dcf277?w=900&auto=format&fit=crop&q=60&ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHx0b3BpYy1mZWVkfDJ8SnBnNktpZGwtSGt8fGVufDB8fHx8fA%3D%3D" data-description="Click to see random dog pics" alt="" draggable="false">
    </a>
    <img class="image" src="https://images.unsplash.com/photo-1728585871416-ba6554dcf277?w=900&auto=format&fit=crop&q=60&ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHx0b3BpYy1mZWVkfDJ8SnBnNktpZGwtSGt8fGVufDB8fHx8fA%3D%3D" data-description="Description for the third image." alt="" draggable="false">
    <img class="image" src="https://images.unsplash.com/photo-1728585871416-ba6554dcf277?w=900&auto=format&fit=crop&q=60&ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHx0b3BpYy1mZWVkfDJ8SnBnNktpZGwtSGt8fGVufDB8fHx8fA%3D%3D" data-description="Description for the fourth image." alt="" draggable="false">
    <img class="image" src="https://images.unsplash.com/photo-1728585871416-ba6554dcf277?w=900&auto=format&fit=crop&q=60&ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHx0b3BpYy1mZWVkfDJ8SnBnNktpZGwtSGt8fGVufDB8fHx8fA%3D%3D" data-description="Description for the fifth image." alt="" draggable="false">
    <img class="image" src="https://images.unsplash.com/photo-1728585871416-ba6554dcf277?w=900&auto=format&fit=crop&q=60&ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHx0b3BpYy1mZWVkfDJ8SnBnNktpZGwtSGt8fGVufDB8fHx8fA%3D%3D" data-description="Description for the sixth image." alt="" draggable="false">
    <img class="image" src="https://images.unsplash.com/photo-1728585871416-ba6554dcf277?w=900&auto=format&fit=crop&q=60&ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHx0b3BpYy1mZWVkfDJ8SnBnNktpZGwtSGt8fGVufDB8fHx8fA%3D%3D" data-description="Description for the seventh image." alt="" draggable="false">
</div>

<div id="description">
    <h1 id="description_text">Hover over an image to see the description.</h1>
</div>
{% endblock %}
