{% extends "layout.html" %}

{% block content %}
<div style="display: flex; justify-content: space-between; flex-wrap: wrap; gap: 10px;">
    <a href="/dog"><img src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcQzOj70zezSmjcSn4Q2uB186grsEwm5I06NMg&s" alt="Image 1" width="200" height="200"></a>
    <a href="/cat"><img src={{image_link}} alt="Image 2" width="200" height="200"></a>
    <a href="/"><img src={{image_link}} alt="Image 3" width="200" height="200"></a>
    <a href="#"><img src={{image_link}} alt="Image 4" width="200" height="200"></a>
    <a href="#"><img src={{image_link}} alt="Image 5" width="200" height="200"></a>
    <a href="#"><img src={{image_link}} alt="Image 5" width="200" height="200"></a>
</div>
{% endblock %}