{% extends "layout.html" %}
{% block content %}
<div class="container">
    <div class="row justify-content-center">
        <div class="col-12 col-md-8 col-lg-6">
            <div class="d-flex flex-column gap-4 align-items-center">
                <div class="text-center mb-4">
                    <a href="/animal"><img src="{{ url_for('static', filename='images/animal.jpg') }}" alt="Image 1" class="img-fluid"></a>
                    <a href="/animal" class="btn btn-primary mt-2" title="Choose your favourite animal">Cat or Dog? Click Me!</a>
                </div>
                <div class="text-center mb-4">
                    <a href="/faceswap"><img src="{{ url_for('static', filename='images/face.webp') }}" alt="Image 2" class="img-fluid"></a>
                    <a href="/faceswap" class="btn btn-primary mt-2" title="Go to Face Swap">Swap Faces</a>
                </div>
                <div class="text-center mb-4">
                    <a href="/finance_profile"><img src="{{ url_for('static', filename='images/finance.jpeg') }}" alt="Image 3" class="img-fluid"></a>
                    <a href="/finance_profile" class="btn btn-primary mt-2" title="Go Home">Check your Finance</a>
                    <a href="/finance_buy" class="btn btn-primary mt-2" title="Go to Image 4">Buy Stock</a>
                    <a href="#" class="btn btn-primary mt-2" title="Go to Image 5">Sell Stock</a>
                    <a href="/finance_lookup" class="btn btn-primary mt-2" title="Go to Image 5">Check Stock</a>
                    <a href="/finance_history" class="btn btn-primary mt-2" title="Go to Image 6">History</a>
                </div>
            </div>
        </div>
    </div>
</div>
{% endblock %}
