{% block head %}
<link rel="stylesheet" href="../static/pincode.css">
{% endblock %}

{% block body %}
    <div class="container" method = "POST">
        <h1>Find Pincode by Postal Address</h1>
        <form action="pincode" method="POST">
            <label for="address">Enter your Postal Address:</label>
            <input type="text" name="address" placeholder="Enter your address here...Eg.New Delhi" required>
            <button type="submit">Find Pincode</button>
        </form>
    </div>
{% endblock %}
